.main {
    display: flex;
    width: var(--maxwidth);
    margin: 0 auto;
    margin-top: 55px;
    padding: 30px 0;
}

.main > section {
    height: 100%;
}
.feed_container {
    width: 65%;
}

.suggestion_container {
    width: 35%;
    overflow-y: auto;
}